<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>

<div class="container-fluid">
  <div class="menuone">
    <ul class="nav nav-tabs">
      <li class="active menuone"><%= link_to "APT", signin_path %></li>
      <li class="menuone"><%= link_to "ENV", signin_path %></li>
      <li class="menuone"><%= link_to "CFG", signin_path %></li>
      <li class="menuone"><%= link_to "CDL/MEL", signin_path %></li>
      <li class="menuone"><%= link_to "RES", signin_path %></li>
    </ul>
  </div>
</div>
<% end %>
