<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
<div class="container-fluid">
<div class="row">
  <div class="menuone">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "APT", signin_path %></li>
      <li><%= link_to "ENV", signin_path %></li>
      <li><%= link_to "CFG", signin_path %></li>
      <li><%= link_to "MEL", signin_path %></li>
      <li><%= link_to "RES", signin_path %></li>
    </ul>
  </div>
</div>
</div>


<table class="table">
<tr>
<td class="row_1">Aircraft</td>
<td class="row_1" style="font-size:0.75em">Q300</td>
<td class="row_2">ZK-NED</td>
</tr>

<tr>
<td class="row_1">Airport</td>
<td class="row_1"></td>
<td class="row_2">AKL/NZAA</td>
</tr>

<tr>
<td class="row_1">Runway</td>
<td class="row_1"></td>
<td class="row_2">05R</td>
</tr>

<tr>
<td class="row_1">Taxiway</td>
<td class="row_1"></td>
<td class="row_2">A10</td>
</tr>

<tr>
<td class="row_1">Special</td>
<td class="row_1"></td>
<td class="row_2">nil</td>
</tr>

</table>

<table class="table">
<tr> Auckland international Airport </tr>
</table>

<div class="row"> 
<div class="col-xs-6">

<table class="table">
<tr>
<td>TORA</td>
<td>2500m</td>
</tr>

<tr>
<td>TODA</td>
<td>2560m</td>
</tr>

<tr>
<td>ASDA</td>
<td>2560m</td>
</tr>

</table>
</div>

<div class="col-xs-6">
<button type="button" class="btn btn-default navbar-btn pull-right">INFO</button>
<button type="button" class="btn btn-default navbar-btn pull-right">CLEAR</button>
</div>



</div>


<% end %>
