<% provide(:title, "Sign in") %>

<body>

  <!-- header -->
  <div class="container">
    <div class="container-signin">
    
    <h3>
      <span class="glyphicon glyphicon-plane"></span> WELCOME 
    </h3>
    <p>Sign in to start using your mobile pilot app<br><br></p>
    
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :Username, class:"control-label" %>
      <%= f.text_field :email, class:"form-control" %>

      <%= f.label :password, class:"control-label" %>
      <%= f.password_field :password, class:"form-control" %>

      <br>
      <%= f.submit "Sign in", class: "btn btn-default" %>
    <% end %>
    
    </div>
  </div>

</body>

<!-- <h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div> -->

<!--     <form role="form">
    
      <div class="form-group">
        <label for="username" class="control-label">USERNAME</label>
        <input type="text" class="form-control" id="username" placeholder="">
      </div>
      
      <div class="form-group">
        <label for="password1" class="control-label">PASSWORD</label>
        <input type="password" class="form-control" id="password1" placeholder="">
      </div>
      
    </form>
    
    <br>
    <button type="button" class="btn btn-default">Sign In</button> -->